html, body, div, span,h1, h2, h3, h4, h5, h6, p,input{
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  overflow-x: hidden;
  line-height: 1.5;
  font-family: 'Inter', sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 7rem;
  gap: 2.5rem;
}

.main_section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 3.5rem;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 2rem;
  gap: 2rem; */
}

.profile_section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 1.5rem;
  width: 100%;
}

#twitter{
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.875rem;
  text-align: center;
  color: #101828;
}

#slack{
  display: none;
}

.share-icon{
  position: absolute;
  right: 13.75rem;
  top: 2.5rem;
  cursor: pointer;
}

.share-icon-mobile{
  display: none;
}

.link_section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 1.5rem;
  width: 72rem;
}

.link_section a{
  background: #EAECF0;
  border: 1px solid #EAECF0;
  border-radius: 8px;
  padding: 1.5rem 2rem;
  text-decoration: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #101828;
}

.social_section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 1.5rem;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 3rem 0;
  width: 80%;
  gap: 2rem;
  border-top: 1px solid #EAECF0;
}

.footer p{
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  color: #667085;
}

.contact-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 4rem;
  padding: 4rem 0px 6rem;

}

.content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
}

.content-head{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
}

.content-head h3{
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 2.75rem;
  letter-spacing: -0.02em;
  color: #101828;
}

.content-head p{
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: #475467;
}

form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  width: 720px;
}

.input-fields{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 100%;
  /* background-color: #101828; */
}

.name-input{
  display: flex;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
}

.first-name,.last-name,.email,.message{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 6px;
  width: 100%;
}

label{
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #344054;
}

.input,textarea{
  background: #FFFFFF;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 10px 14px;
  width: 100%;
  outline: none;
}

textarea{
  padding: 12px 14px;
  height: 132px;
}

input::placeholder,textarea::placeholder{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #667085;
}

.checkbox{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
  /* width: 720px; */
}

.checkbox input{
  width: 20px;
height: 20px;
}

.checkbox p{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #475467;
}

button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  background: #1570EF;
  border: 1px solid #1570EF;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  width: 100%;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .link_section{
      width: 50rem;
    }
}

@media screen and (max-width: 768px) {
  .share-icon-mobile{
    display: block;
    position: absolute;
    right: 4rem;
    top: 2.5rem;
    cursor: pointer;
  }

  .share-icon{
    display: none;
  }

  .link_section{
    width: 21.4375rem;
  }
  .footer{
    width: 90%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: .1rem;
  }
}

@media screen and (max-width: 425px) {
  .share-icon-mobile{
    right: 1.5rem;
  }
  .link_section{
    width: 17rem;
  }
}
